<div class="bg-dark text-white py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-lg-6 h-100">
                <h3 class="display-4">Achievements</h3>
                <div class="py-5">
                    <ul>
                        <li>Member of IEEE Chapter</li>
                        <li>Outreach Coordinator of IEEE R10 Section</li>
                        <li>Member of Hack Club & XAMK</li>
                        <li>Won Proficiency in Studies for 3 Years</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 h-100">
                <h3 class="display-4 ">Interests</h3>
                <div class="py-5">
                    <ul>
                        <li>Writing</li>
                        <li>Singing</li>
                        <li>Photography</li>
                        <li>CAD Designing</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>