<div class="bg-dark text-white py-3">
    <div class="container-fluid d-flex h-100">
        <div class="row  align-items-center d-flex" style="flex:1 1 auto;">
            <div class="col-lg-6 ">
               <img class="img-fluid" src="assets/images/aswin.jpg" alt=""> 
            </div>
            <div class="col-lg-6 align-middle ">
                <h2 class="display-4 font-weight-light">Aswin Sunil</h2>

                <p class="font text-muted">I am a Developer, Photographer & Content Writer</p>
                <ul class="mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.instagram.com/__aswinsunil_" class="social-link"><fa-icon [icon]="faInstagram" size="2x" [styles]="{'color': 'grey'}"></fa-icon></a></li>
                    <li class="list-inline-item"><a href="https://www.facebook.com/achu.achuzz.374" class="social-link"><fa-icon [icon]="faFacebook" size="2x" [styles]="{'color': 'grey'}"></fa-icon></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/aswin-sunil-41b040214" class="social-link"><fa-icon [icon]="faLinkedIn" size="2x" [styles]="{'color': 'grey'}"></fa-icon></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/AswinSu72680284?s=09" class="social-link"><fa-icon [icon]="faTwitter" size="2x" [styles]="{'color': 'grey'}"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
